:root {
    --main-bg: gray;
    --nav-bg: rgba(95, 95, 95, 0.747);
    --nav-button: #3535355d;
    --action: #25dfb1;
    --element: rgb(92, 92, 92);
    --text: white;
    --border: black;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, .half, main, #screen, header, nav, #controls, .preset
{
    display: flex;
    font-family: var(--font)
}

#left-half,
main
{
    align-items: center;
    justify-content: center;
}

.half
{
    width: 50vw;
    height: 100vh;
}

main
{
    background-color: rgb(0, 0, 0);
    height: 80%;
    width: 90%;
    border-radius: 5%;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(20, 20, 20, 0.493);
}

#screen
{
    height: 88%;
    width: 88%;
    background-color: var(--main-bg);
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
}

header
{
    width: 100%;
    height: 10%;
    background-color: var(--nav-bg);
    box-shadow: 0.05rem 0.05rem 0.3rem rgba(20, 20, 20, 0.493);
    align-items: center;
}

nav
{
    width: 100%;
    justify-content: space-around;
    height: 100%;
    font-family: var(--font);
}

button{
    font-size: 0.95rem;
    color: var(--text);
        background-color: var(--nav-button);
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(143, 143, 143, 0.532);
    transition : 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    font-family: var(--font);
}


button:hover{
    color: var(--action);
        border-top: solid 2px var(--action);
}

#controls
{
    height: 90%;
    width: 94%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.preset
{
    width: 23%;
    height: 8rem;
    background-color: var(--element);
    margin: 1%;
    border: 2px solid var(--element);
    box-sizing: border-box;
    box-shadow: 1px 1px 5px var(--element);
    font-size: 1rem;
    color: var(--text);
        font-family: var(--font);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
}

.preset:hover{
    color: var(--action);
        border: solid 2px var(--action);
        box-shadow: 1px 1px 15px var(--action);
}

svg {
    width: 40%;
    height: 40%;
    fill: var(--text);
}

.preset:hover svg {
    fill: var(--action);
}

#right-half {
    flex-wrap: wrap;
    justify-content: center;
}

.room {
    width: 14rem;
    height: 20rem;
    border: 1px solid var(--border);
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.room-name {
    width: 100%;
    height: 20%;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.output-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.output {
    width: 45%;
    height: 20%;
    border: var(--border) solid 1px;
    margin-top: 1rem;
    display: flex;
}

#rest {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#rest .output {
    margin-top: 0%;
}

.output-name,
.output-value {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-value {
    font-size: 1.4rem;
}
.output-name {
    border-right: 1px var(--border) solid;
        color: var(--border);
    font-size: 2rem;
}
    
.containerBody .output-name,
.containerBottomBody .output-name {
    color: var(--text);
}
/* Add Preset elements1*/
.new-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 12%;
    background-color: var(--element);
    align-self: center;
}

.preset-name {
    font-size: 1.3rem;
    color: var(--text);
    box-sizing: border-box;
    text-shadow: var(--border) 1px 1px 1px;
}

.name-input {
    text-align: center;
    font-size: 1.2rem;
}

.name-input:focus {
    outline: none;
}
.svg-container {
    background-color: var(--element);
    width: 90%;
    height: 80%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
        align-content: flex-start;
}

.svgBox {
    width: 25%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--action);
    box-sizing: border-box;
    border: var(--border) 1px solid;
    cursor: pointer;
}

.svgIcon {
    fill: var(--text)
}

.svgBox:hover .svgIcon {
    fill: var(--action);
    transform: scale(1.1);
    transition-duration: 0.2s;
}


/* Add Preset elements2*/
.addPreset-container {
    background-color: var(--element);
    width: 45%;
    height: 38%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.addPresetContainer-bottom {
    height: 15%;
    width: 95%;
    background-color: var(--element);
}

.addPresetRoom-name {
    height: 15%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--text);
}

.addPresetContainer-bottom .addPresetRoom-name {
    height: 35%;
}

.containerBody {
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: -0.5rem;
}

.containerBody .output-name,
.containerBottomBody .output-name {
    font-size: 1.45rem;
}
.containerBottomBody {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerBottomBody .output {
    height: 65%;
    width: 25%;
    margin-top: -0.1rem;
}
.modalWindow {
    margin-top: 2rem;
    background-color: var(--element);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
}

.modalText {
    color: var(--text);
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.7rem;
}
.out-val {
    color: var(--text);
    font-size: 1.1rem;
}

.out-val:hover {
    cursor: pointer;
}
.clock {
    box-sizing: border-box;
    text-align: center;
    color: var(--action);
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 7px;
    text-shadow: var(--border) 1px 1px 1px;
}

#dateText {
    font-size: 3rem;
    color: var(--action);
        text-shadow: var(--border) 1px 1px 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    text-align: center;
}
.tempContainer {
    position: fixed;
    width: 18%;
        height: 18%;
        background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--border) 0.03rem 0.03rem 1rem;
    z-index: 100;
    color: var(--text);
}

.tempRow {
    width: 99%;
    background-color: inherit;
    display: flex;
    justify-content: space-evenly;
}

.tempRow1 {
    height: 58%;
}

.tempRow2 {
    height: 38%;
}

.tempBoxUp {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border);
        background-color: var(--element);
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.optionButton {
    width: 85%;
    height: 12%;
    background-color: var(--element);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 5px var(--element);
}

.optionButton:hover {
    color: var(--action);
}

h1 {
    color: var(--text);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.legendElement {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: var(--text);
    align-self: flex-start;
    line-height: 1.5rem;
}

.optionButton0 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.optionButton1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.optionButton2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionButton3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.optionButton4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.optionButton5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}